@font-face {
  font-family: MyriadPro;
  src: url(../fonts/MyriadPro-Regular.otf);
}
.content {
  margin: 0 auto;
  max-width: 1200px;
  font-family: MyriadPro;
  padding: 20px;
  width: 100%;
}
.col-left {
  float: left;
  max-width: 530px;
  width: 45%;
}
.col-right {
  float: right;
  max-width: 630px;
  width: 55%;
}
.name {
  text-align: center;
  padding-bottom: 60px;
}
.avatar {
  width: 300px;
}
h1 {
  font-size: 60px;
  padding-top: 30px;
}
h2 {
  font-size: 60px;
  padding-top: 10px;
}
h3 {
  font-size: 40px;
  padding-top: 10px;
}
.font-weight-bold {
  font-weight: bold;
}
/*Заголовок*/
.title {
width: auto;
margin-top: 30px;
margin-bottom: 20px;
}
.icon {
  width: 100px;
  float: left;
  margin-right: 25px;
}
.text-title {
  font-size: 40px;
  color: #006cb4;
  font-weight: bold;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
}
hr {
  background-color: #006cb4;
  width: 40%;
  height: 6px;
}
.text-profile {
  font-size: 25px;
}
.font-weight-bold {
  font-weight: bold;
}
.contact_left {
 color: #006cb4;
 font-weight: bold;
 font-size: 30px;
 line-height: 2.2em;
 display: inline-block;
 margin-top: 10px;
 }
.contact_right {
 margin-top: 60px;
 font-size: 30px;
 line-height: 2.2em;
 margin-left: 20px;
 display: inline-block;
 margin-top: 10px;
 }
.skills {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}
.circle-blue {
width: 25px;
height: 25px;
background: #006cb4;
border-radius: 50px;
display: inline-block;
margin-left: 10px;
margin-top: 15px;
}
.circle-grey {
  width: 25px;
  height: 25px;
  background: #d3d3d3;
  border-radius: 50px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 15px;
}
ol {
    list-style-type: disc;
    font-size: 60px;
    margin-left: 50px;
    line-height: 0.5em;
    padding-top: 10px;
}
.master-degree {
  font-size: 30px;
  color: #006cb4;
  font-weight: bold;
}
.text-after {
  font-size: 30px;
}
.text-education-experience {
  font-size: 20px;
  line-height: 0.3em;
}
.company-name {
  font-size: 30px;
  font-weight: bold;
}
.margin-top {
  margin-top: 60px;
}
.software-left {
  float: left;
  width: 47%;
}
.software-right {
  float: right;
  width: 47%;
}
.text-sowtware {
  font-size: 30px;
  padding-top: 20px;
}
.progress {
  height: 30px;
  width: 100%;
  margin-top: 20px;
}

@media (max-width: 700px) {
.content {
  width: 100%;
}
.col-left {
  width: 95%;
}
.col-right {
  width: 95%;
}
.text-title {
  font-size: 40px;
  color: #006cb4;
  font-weight: bold;
  padding-left: 20px;
  float: none;
}
hr {
  width: 0;
  height: 0;
}
.skills {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}
.contact_left {
 color: #006cb4;
 font-weight: bold;
 font-size: 20px;
 line-height: 2.2em;
 display: inline-block;
 margin-top: 10px;
 }
.contact_right {
 margin-top: 60px;
 font-size: 20px;
 line-height: 2.2em;
 margin-left: 20px;
 display: inline-block;
 margin-top: 10px;
 }
.circle-blue {
width: 15px;
height: 15px;
background: #006cb4;
border-radius: 50px;
display: inline-block;
margin-left: 10px;
margin-top: 15px;
}
.circle-grey {
  width: 15px;
  height: 15px;
  background: #d3d3d3;
  border-radius: 50px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 15px;
}
.text-sowtware {
  font-size: 20px;
}
.software-left {
  float: none;
  width: 95%;
}
.software-right {
  float: none;
  width: 95%;
}
}
